
@media (max-width: 1600px)
  .pop
    &__right
      background-color: #ffffff
      padding-left: 20px
      padding-right: 0
  .history
    &__wrapper
      background-size: 600px

@media (max-width: 1400px)
  .pop
    &__wrapper
      background-size: 750px

@media (max-width: 1200px)
  .promo
    &__inner-descr
      margin-left: 72px
    &__img
      margin-left: 0
  .advantages
    margin-bottom: 60px
    &__wrapper
      flex-wrap: wrap
      justify-content: center
    &__item
      max-width: 45%
      width: 100%
      margin: 10px
  .symptoms
    padding: 0 15px
    margin-bottom: 60px
  .pop
    &__wrapper
      background-image: none
    &__inner
      flex-direction: column
    &__right
      order: -1
      max-width: 730px
    &__title
      text-align: center
      font-size: 40px
    &__subtitle
      text-align: center
    &__list-item
      margin-bottom: 25px
    &__left
      margin-right: 0
      margin-top: 50px
      background: url('../img/pop/main-img.jpg') center (center/cover) no-repeat
      max-width: 100%
    .postscript_pop
      left: 50%
      transform: translateX(-50%)
  .history
    .container
      padding: 0
    &__wrapper
      background: none
    &__inner
      max-width: 100% 
    &__form-inner
      display: flex
      flex-direction: row
      justify-content: space-around
      align-items: center
    &__title
      text-align: center
      max-width: 600px
      display: block
      margin: 0 auto
      margin-bottom: 40px
    &__text
      padding: 40px 30px 50px 20px
    .main-form_history
      margin: 0
    &__hidden-img
      display: block
      background: url('../img/history/history.jpg') center (center/cover) no-repeat
      min-height: 419px
      max-width: 352px
      width: 100%

  .complete-set
    padding-top: 60px
    background-color: $bg-extra
    margin-bottom: 100px
    &__title
      max-width: 80% 
      text-align: center
      margin: 0 auto
      margin-bottom: 105px
    .container
      padding: 0
    &__set
      max-width: 80%
      width: 100%
    &__item
      min-width: 225px
      min-height: 225px
      &-title
        font-size: 10px

  .composition
    &__item
      width: 332px
      height: 332px
    &__row
      &:first-child
        flex-flow: wrap-reverse
        justify-content: center
        align-items: center
      &:nth-child(2)
        max-width: 1100px
        margin: 0 auto
        justify-content: space-around
      &:nth-child(3)
        flex-direction: row-reverse
        justify-content: space-around
  .postscript_composition
    max-width: 700px
  .postscript__text_composition
    font-size: 14px
    line-height: 24px
    padding: 55px 30px 90px 30px

    &__top
      max-width: 750px
      margin-left: 0

  .reviews
    margin-bottom: 60px
    &__top
      max-width: 100% 
      width: 100%
    &__title
      display: block
      text-align: center
      margin: 0 auto
  .reviews-tabs__review-item
    &:nth-child(even)
      display: none

  .participation
    &__wrapper
      background: none
      justify-content: center
      padding-top: 0
    &__inner
      margin: 0 auto

@media (max-width: 991px)
  .promo
    &__inner
      position: relative
    &__inner-suptitle
      margin-top: 30px
    &__inner-title
      max-width: 265px
      font-size: 50px
    &__inner-descr
      position: absolute
      right: 0
      align-items: flex-start
      max-width: 571px
      margin-left: 0
    &__inner-text
      font-size: 16px
      margin-bottom: 40px
      max-width: 225px
      line-height: 24px
  .advantages
    &__wrapper
      padding: 0 90px
      justify-content: space-around
    &__item
      max-width: 250px
      width: 100%
  .symptoms
    padding: 0
    .container
      padding: 0
    &__tabs-wrapper
      flex-direction: column
      margin-bottom: 0
      &-right
        background: url(../img/symptoms/content-bg.jpg) center center no-repeat $accent-light
        max-width: 100% 
        margin-left: 0
      &-left
    &__title
      margin: 45px auto
      display: block
    &__bg
      position: relative
      z-index: 0
      top: 0
      left: 0
      bottom: 0
      transform: none
  .tabs__main
    background-color: $bg-extra
    .tab__item
      padding-left: 60px
  .tabs__compress
    background-color: $bg-extra
    .tab__item
      &:first-child,
      &:nth-child(2)
        padding-left: 60px
  .tabs__content-num_1
    top: 100px
    left: 470px
  .tabs__content-num_2
    top: 60px
    left: 470px
  .tabs__content-num_3
    top: 30px
    left: 465px
  .tabs__content-num_4
    top: 117px
    left: 415px
  .tabs__content-num_5
    top: 20px
    left: 495px
  .tabs__content-num_6
    top: 305px
    left: 420px
  .tabs__content-num_7
    top: 70px
    left: 520px
  .tabs__content-num_8
    top: 230px
    left: 470px
  .tabs__content-num_9 
    top: 60px
    left: 430px
        
  .postscript_symptoms
    left: 50%
    transform: translateX(-50%)
    bottom: -20px
  .button_symptoms
    margin: 40px auto

  .quote
    margin-bottom: 0
    &__wrapper
      min-height: 0
    &__bg
      display: none
    &__text
      font-size: 18px
      line-height: 36px
    &__author
      font-size: 16px
      &-mark
        font-size: 12px

  .complete-set
    padding-top: 100px
    &__inner
      padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 40px
      max-width: 60%
    &__set
      max-width: 725px
    &__item
      margin: 7px
      &-title

  .composition
    &__row
      justify-content: center
      align-items: center
      &:nth-child(2)
        max-width: 730px
        justify-content: center
        align-items: center
      &:nth-child(3)
        flex-wrap: wrap
        justify-content: center
        align-items: center
        max-width: 730px
        margin: 0 auto        
    &__item
      margin: 10px
        
  .postscript_composition
    max-width: 330px
    max-height: 329px
    width: 100%
    height: 100%
    padding: 0
    margin: 10px
  .postscript__text_composition
    height: 330px
    padding-top: 85px
    .postscript-hidden
      display: none
  .button_composition
    min-width: 0
    max-width: 100%
    width: 100%

  .reviews
    .container
      padding: 0
    &__title
      font-size: 30px
      line-height: 40px
  .reviews-tabs__review-item
    &:nth-child(even)
      display: none
  .reviews-tab__item
    width: 49%
    padding: 25px 35px
    text-align: center
    line-height: 20px
  .reviews-tabs__content-inner
    padding-top: 20px
  .reviews__bottom-wrapper
    background-color: $bg-extra
    flex-direction: column
    justify-content: center
    margin-top: 0
    padding-top: 20px
    padding-bottom: 75px
  .reviews-more_reviews
    margin-bottom: 30px
  .button_reviews
    margin-left: 0



@media (max-width: 945px)
  .promo
    &__inner-suptitle,
    &__inner-title,
    &__inner-text
      max-width: 280px
      width: 100%
      margin-left: auto
      margin-right: 30px

@media (max-width: 768px)
  .header
    &__text
      font-size: 14px
  .advantages
    &__wrapper
      padding: 0
  .pop
    .container
      padding: 0
    &__right
      max-width: 550px
    &__title
      font-size: 30px
      line-height: 40px
    &__subtitle
      margin-bottom: 40px
  .history
    &__form-inner
      padding: 0 20px 0 60px
    .main-form_history
      margin-right: 45px
    &__text
       margin-bottom: -25px
       z-index: -1
  
  .composition
    .container
      padding: 0


@media (max-width: 760px)
  .complete-set
    &__set
      background-color: transparent
      flex-direction: column

@media (max-width: 750px)
  .composition
    &__item_2
      order: -1
    &__row
      &:nth-child(3)
        flex-wrap: wrap-reverse
        max-width: 700px
  .button_participation
    img
      display: none
        

@media (max-width: 700px)
  .header
    &__text
      display: none
  .promo  
    &__img
      max-width: 200px
      min-height: 0

@media (max-width: 640px)
  .promo  
    &__img
      max-width: 150px
  .symptoms
    &__title
      font-size: 24px
      text-align: center
      line-height: 1.2
      max-width: 280px
      margin-bottom: 20px
    .tab__item
      padding-left: 15px
    .tab__item_compress
      width: 100%
      padding-left: 15px
      &:nth-child(2)
        order: -1
      &:first-child,
      &:nth-child(2)
        padding-left: 15px
  
  .participation
    &__title
      font-size: 24px
      line-height: 30px        
      text-align: center
    &__text
      font-size: 14px
      line-height: 22px

@media (max-width: 600px)
  .promo  
    min-height: 0
    &__inner
      align-items: center
      flex-direction: column
      padding-top: 46px
    &__inner-image
      order: 1
    &__img
      max-width: 85px
    &__inner-form
      display: none
    .button_promo-hidden
      display: block
      order: 1
    &__inner-text
      display: none
    &__inner-suptitle,
    &__inner-title,
      margin-left: 0
      margin-right: 0
      text-align: center
    &__inner-descr
      position: relative
      max-width: 280px
      width: 100%
  .advantages
    &__wrapper
    &__item
      max-width: 300px
  .button_pop
    img
      display: none
  .history
    &__title
      font-size: 30px
      max-width: 500px
      line-height: 40px
      margin-bottom: 30px
    &__text
      margin-bottom: 0
    &__form-inner
      flex-direction: column-reverse
    &__hidden-img
      margin-bottom: 30px
    .main-form_history
      margin-right: 0
    .history-form__wrapper
      text-align: center
  
  .composition
    &__top
      margin-left: 0
    &__title
      font-size: 24px
      line-height: 30px
      text-align: center
    &__list
      max-width: 
      &-item
        font-size: 14px
        line-height: 22px
  
  .reviews
    margin-bottom: 50px
    &__title
      font-size: 24px
      line-height: 30px
  .reviews-tab__item
    font-size: 10px
    line-height: 18px
    padding: 25px 20px
  .reviews-tabs__review-item
    font-size: 14px
    line-height: 22px
  .reviews-tabs__content-inner
    padding-left: 12px
  .button_reviews
    width: 100%
    font-size: 12px
    line-height: 22px
    img
      display: none
  
  .participation
    &__item
      padding: 0
      &-inner
        border: none
    &__subtext
      text-align: center
      font-size: 12px
      line-height: 20px
      margin-bottom: 40px
  .button_participation
    font-size: 12px
    line-height: 22px

@media (max-width: 480px)
  .header
    &__phone
      svg
        display: none
      &-subtitle
        display: none
      &-link
        font-size: 14px
    &__logo-image
      max-width: 110px
  .promo
    min-height: 435px
    &__inner
      padding: 0
      padding-top: 23px
    &__bg
      min-height: 435px
    &__inner-suptitle
      margin-top: 0
      margin-bottom: 20px
    &__inner-title
      font-size: 30px
      line-height: 36px
      margin-bottom: 20px
    .button_promo-hidden
      min-width: 320px
      max-width: 100%
      width: 100%
    .container
      padding: 0
  .symptoms
    &__title
    &__tabs-wrapper-right
      background: none
      min-height: 0
    .tabs__content
      display: none
  .postscript_symptoms
    width: 100%      
    max-width: 100%
    left: 0
    transform: none
    position: relative
    bottom: 0
    padding: 10px
  .postscript__text
    font-size: 14px
    padding: 40px 20px
    text-align: center
  .reviews-more_symptoms
    left: 50%
    transform: translateX(-50%)
    padding: 0 10px
    bottom: -10px
  .button_symptoms
    text-align: center
    margin-top: 20px
    margin-bottom: 0
    max-width: 100%
    width: 100%
    font-size: 12px
    line-height: 30px
    img
      display: none
  .tab__item
    font-size: 12px
    display: flex
    align-items: center
  .pop
    &__title
      font-size: 24px
      line-height: 30px
      max-width: 285px
      display: block
      margin: 0 auto
      margin-bottom: 30px
    &__subtitle
      font-size: 12px
    &__right
      padding: 0
    &__list-item
      margin-bottom: 20px
      padding-right: 10px
      &::before
        top: 10%
        transform: none
        left: -30px
    &__left
      margin-top: 30px
      min-height: 245px
    .postscript_pop
      padding: 0
      left: 0
      transform: none
      bottom: -100%
      .postscript__wrapper
        border: none
    .button_pop
      max-width: 100%
      font-size: 12px
      line-height: 30px
      .button_pop-hidden
        display: inline-block
      .button_pop-showed
        display: none
  .history
    margin-top: 240px
    &__form-inner
      padding: 0
    .history-form__title
      padding: 0 50px
    &__text
      padding-left: 10px
      padding-right: 10px
    &__title
      font-size: 20px
      line-height: 26px
  
  .quote
    margin-bottom: 50px
    &__inner
      border: none
      padding: 0
    &__text
      font-size: 14px
      line-height: 24px
    &__author
      font-size: 14px
      line-height: 18px
      max-width: 150px
      display: block
      margin: 0 auto
      &-mark
        display: block
        margin-top: 15px

  .complete-set
    &__inner
      padding-bottom: 0
    &__title
      font-size: 24px
      line-height: 30px
      max-width: 80% 
    &__item
      background-color: transparent
      border: none
      &:before
        color: #fff
        font-size: 130px
        top: -15px
      &-title
        font-size: 12px
  
  .composition
    margin-bottom: 50px
    .container
      padding: 0
    &__item
      width: 299px
      height: 299px
    &__top
      padding-right: 25px
    &__list
      margin-bottom: 20px
  .postscript__text_composition
    height: 299px
  .postscript_composition
    height: 299px
    width: 100%
    margin: 0
    max-width: 100%
    .postscript__wrapper
      border: none
  .button_composition
    img
      display: none
  
  .participation
    &__title
      padding: 10px
    &__text
      padding: 10px
    &__subtext
      padding: 10px
    .container
      padding: 0
    &__wrapper
      display: block
    &__item
      &-inner
        padding: 0