@media (max-width: 1200px)
  .promo
    &__inner-descr
      margin-left: 72px
    &__img
      margin-left: 0
  .advantages
    &__wrapper
      flex-wrap: wrap
      justify-content: center
    &__item
      max-width: 45%
      width: 100%
      margin: 10px

@media (max-width: 991px)
  .promo
    &__inner
      position: relative
    &__inner-suptitle
      margin-top: 30px
    &__inner-title
      max-width: 265px
      font-size: 50px
    &__inner-descr
      position: absolute
      right: 0
      align-items: flex-start
      max-width: 571px
      margin-left: 0
    &__inner-text
      font-size: 16px
      margin-bottom: 40px
      max-width: 225px
      line-height: 24px
  .advantages
    &__wrapper
      padding: 0 90px
      justify-content: space-around
    &__item
      max-width: 250px
      width: 100%
  

@media (max-width: 945px)
  .promo
    &__inner-suptitle,
    &__inner-title,
    &__inner-text
      max-width: 280px
      width: 100%
      margin-left: auto
      margin-right: 30px

@media (max-width: 768px)
  .header
    &__text
      font-size: 14px
  .advantages
    &__wrapper
      padding: 0


@media (max-width: 700px)
  .header
    &__text
      display: none
  .promo  
    &__img
      max-width: 200px
      min-height: 0

@media (max-width: 640px)
  .promo  
    &__img
      max-width: 150px

@media (max-width: 600px)
  .promo  
    min-height: 0
    &__inner
      align-items: center
      flex-direction: column
      padding-top: 46px
    &__inner-image
      order: 1
    &__img
      max-width: 85px
    &__inner-form
      display: none
    .button_promo-hidden
      display: block
      order: 1
    &__inner-text
      display: none
    &__inner-suptitle,
    &__inner-title,
      margin-left: 0
      margin-right: 0
      text-align: center
    &__inner-descr
      position: relative
      max-width: 280px
      width: 100%
  .advantages
    &__wrapper
    &__item
      max-width: 300px

@media (max-width: 480px)
  .header
    &__phone
      svg
        display: none
      &-subtitle
        display: none
      &-link
        font-size: 14px
    &__logo-image
      max-width: 110px
  .promo
    min-height: 435px
    &__inner
      padding: 0
      padding-top: 23px
    &__bg
      min-height: 435px
    &__inner-suptitle
      margin-top: 0
      margin-bottom: 20px
    &__inner-title
      font-size: 30px
      line-height: 36px
      margin-bottom: 20px
    .button_promo-hidden
      min-width: 320px
      max-width: 100%
      width: 100%
    .container
      padding: 0