.promo
  min-height: 760px
  margin-bottom: 75px
  position: relative
  &__bg
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    min-height: 544px
    width: 100%
    background: url('../img/promo/promo-bg.jpg') center (center/cover) no-repeat #6f7087
    z-index: -1
  &__img
    min-height: 648px
    margin-left: 125px
  &__inner
    display: flex
    flex-direction: row
    justify-content: space-between
    color: #ffffff
    padding: 94px 15px 0px 15px
    &-descr
      display: flex
      flex-direction: column
      justify-content: center
      margin-left: 171px
      max-width: 570px
      width: 100%
    &-suptitle
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
      letter-spacing: 0.7px
      margin-top: 60px
      margin-bottom: 28px
    &-title
      font-size: 60px
      font-weight: 600
      line-height: 1
      margin-bottom: 40px
    &-text
      max-width: 500px
      font-family: Montserrat
      font-size: 18px
      font-weight: 400
      line-height: 1.35
      margin-bottom: 85px
    //Form
    &-form
      background-color: #ffffff
      padding: 20px

  &-form
    border: 1px solid #c8dcba
    padding: 48px 48px 120px 48px

.inner-form
  &__title
    max-width: 185px


