.reviews
  margin-bottom: 200px
  &__wrapper
    overflow: hidden
  &__tab-item
    display: none
    &:first-child
      display: block
  &__top
    max-width: 500px
    margin-bottom: 45px
  &-tabs
    .active
      color: $accent
      background-color: $bg-extra
    &__content
      background-color: $bg-extra

    &__content-inner
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      align-items: flex-start
      padding: 80px 0 60px 0
    &__review-item
      position: relative
      max-width: 470px
      color: $extra-color
      font-size: 16px
      font-weight: 400
      margin-bottom: 50px
      &-author
        display: block
        margin-top: 20px
        color: $main-color
        font-weight: 700
        line-height: 1
      &::before
        content: ''
        position: absolute
        top: -20px 
        left: 0
        width: 31px
        height: 3px
        background-color: $accent-light
    &__wrapper
  &-tab__item
    position: relative
    display: inline-block
    padding: 25px 40px 25px 85px
    color: #c3c3c3
    background-color: #ffffff
    font-size: 14px
    font-weight: 700
    line-height: 14px
    text-transform: uppercase
    letter-spacing: 0.7px
    cursor: pointer
  &-tab__item.active
    &:first-child
      &::before
        content: ''
        position: absolute
        background-color: $bg-extra
        width: 100%
        height: 100%
        top: 0
        right: 100%
  &-tab__item.active
    &:last-child
      &::after
        content: ''
        position: absolute
        background-color: $bg-extra
        width: 100%
        height: 100%
        top: 0
        left: 100%
        
      

  &__bottom-wrapper
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    margin-top: 20px
      
